@charset "UTF-8";

* {
    /*height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #0A3A40, #0F5959);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #083438;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #107361;
    text-align: center;
    text-shadow: 1px 1px 2px #074e41;
}

h2 {
    color: #042326;
}

p {
    text-align: justify;
}