@charset "UTF-8";

/*
 em HTML é id = CSS é # (só pode um elemento)
 em HTML é class = em CSS é . ( pode vários elementos)
*/

body {
    background-color: #835aaa;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #290a46;
}

#principal {
    text-align: center;
    background-color:#29163B;
    color: white;
}

h2 {
    color:#29163B;
}

.basico {
    color:green;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}